<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42508657807-dqv1rsefa32h44hneqpkicc33p0nmb3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42508657807-dqv1rsefa32h44hneqpkicc33p0nmb3k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>42508657807-h3qg742534ednlaj6v7gi1d6ss5fulif.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxbZ7xzOpS0nxPHoKI57E8mu39P6neTZo</string>
	<key>GCM_SENDER_ID</key>
	<string>42508657807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>assignment-d64f7</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-d64f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42508657807:ios:6c455f2ac51d238523fcfa</string>
	<key>DATABASE_URL</key>
	<string>https://assignment-d64f7-default-rtdb.firebaseio.com</string>
</dict>
</plist>